@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cm-editor {
    @apply w-full h-full;
  }

  cm-editor {
    @aplly w-full h-full;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.split {
  display: flex;
  flex-direction: row;
}

.v-split {
  display: flex;
  flex-direction: column;
}

.gutter {
  background-color: #2f333a;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

.cm-scroller,
.cm-gutters {
  background-color: #0f1729 !important;
}